body{
    margin: 0;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

a {
    outline: none
}

#tBg{
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(../images/bg.jpg);*/
    color: transparent;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

#footerBox{
    display: inline-block;
    padding: 3px 10px;
    border-radius: 6px;
    -webkit-backdrop-filter: blur(10px);
    /*backdrop-filter: blur(10px);*/
}
footer {
    position: fixed;
    bottom: 10px;
    /*left: calc(50% - 100px);*/
    /*width: 200px;*/
    font-size: 12px;
    color: rgba(255,255,255,.6);
    text-align: center;
    width: 100%;
    /*text-shadow: 0 0 20px rgba(0,0,0,.8);*/ /*描边*/
}
.navBar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s
}


.navBox {
    position: absolute;
    left: 100%;
    margin-left: -575px;
    top: 10px;
    /*width: 400px;*/
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.navLink {
    position: relative;
    text-decoration: none;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s
}

.navBar .navLink {
    color: #fff;
    font-size: 15px;
    margin: 30px
}

.navBar .navLink:link, .navBar .navLink:visted {
    color: #fff
}

.navBar .navLink:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #3bf3dd;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
    transform: scale(0)
}

.navBar .navLink:hover:before {
    transform: scale(1)
}

.navBar .navLink:active:before {
    background: rgba(112, 192, 0, .6)
}

.navBar .navLink:active {
    color: rgba(255, 255, 255, .6)
}
.tLogo {
    position: absolute;
    left: 0;
    margin-left: 200px;
    top: 10px;
    width: 250px;
    height: 80px;
    line-height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url(../images/Logo_Main_1808.png);*/
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    color: white;
    font-size: x-large;
}

.links{
    text-decoration: none;
    color: rgba(255,255,255,.6);
    cursor: pointer;
    transition: all .25s;
}

#topTitle {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center
}
.underline {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    margin-top: -30px;
    width: 70px;
    border-bottom: 4px solid #70c000
}
h1 {
    font-family: microsoft yahei;
    font-weight: 400;
    font-size: 75px;
    color: #fff
}

h2 {
    font-weight: 400;
    font-size: 15px;
    color: #fff
}

h3 {
    font-weight: 400;
    font-size: 30px;
    color: #3c3c3c
}

@media screen and (max-width: 1200px) {
    .tLogo {
        margin-left: 100px
    }

    .navBox {
        margin-left: -525px;
        /*width: 500px*/
    }

    .workList {
        left: 5%;
        width: 90%
    }
}

@media screen and (max-width: 900px) {
    .topLogo {
        margin-left: 25px
    }



    .workList {
        left: 0;
        width: 100%
    }
}


@media screen and (max-width: 700px) {
    .tBox {
        font-size: 12px
    }

    .navBox {
        display: none
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 65px
    }

    h2 {
        font-size: small;
        line-height: 12px
    }



    .menuIcon {
        display: block
    }
    .aboutContent {
        font-size: small;
        left: 5%;
        width: 90%
    }

    .logContent {
        padding-left: 30px;
        padding-right: 30px
    }

    .footerCol {
        padding-bottom: 30px
    }

    #footer {
        padding-bottom: 60px
    }

    #copyright {
        text-align: center
    }
}

@media screen and (max-width: 400px) {
    .footerCol {
        padding-left: 20px;
        padding-right: 20px
    }
}