* {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h1 {
    font-size: 75px;
    color: white;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 12px;
}

/* 导航链接 */
.aLink{
    margin: 0 10px;
}

.aLink:hover {
    /*box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2);*/
}

/* 导航链接链接状态 */
.aLink:link {
    color: #fff;
}

/* 导航盒子 */
.navBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 60px;
    text-align: right;
    /*position: absolute;*/
    /*background-color: rgba(132, 128, 128, 0.7);*/
    /*background-color: #DCDFE6;*/
}

/* 导航链接 */
.navLink{
    position: relative;
    display: inline-block;
    /* width: 50px; */
    margin: 0 70px 0 0;
    height: 60px;
    line-height: 60px;
    color: white;
    text-decoration: none;
    /*color: rgba(161, 159, 159, 0.6);*/
}

/* 导航链接链接状态 */
.navLink:link {
    color: #fff;
}

/* 导航链接鼠标悬停样式 */
.navBox .navLink:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 10px;
    background: #3bf3dd;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
    transform: scale(0)
}
/* 导航链接鼠标悬停样式 */
.navBox .navLink:hover:before {
    transform: scale(1)
}

/* 标题盒子 */
.titleBox {
    background-image: url("../images/bg.jpg"); /*设置背景图片*/
    background-repeat: no-repeat; /*设置背景图片填充模式*/
    height: 100vh; /*设置高度*/

    /* 用于背景展示过度动画 */
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -ms-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

/* 标题盒子的脚部 */
.titleBoxFoot {
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -100px;
    text-align: center;
}

/* 标题盒子的bing图片版权 */
#bing {
    position: relative;
    top: 25px;
    font-size: 12px;
}

/* 标题盒子的bing图片版权链接*/
#bing > a {
    text-decoration: none;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
    transition: all .25s;
}

/* 标题盒子 body*/
.titleBoxBody {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

@keyframes typing {
    from {
        width:0;
    }
}
@keyframes blink-caret {
     50% {
         border-color:transparent;
     }
}

.titleBoxTitleBox{
    margin: 0 auto;
    width: 259px;
    text-align: center;
}

/* 标题盒子 Title*/
.titleBoxTitle {
    color: #FFFFFF;
    margin-bottom: 40px;

    width: 259px;
    /*font:bold 200% Consolas,Monaco,monospace;*/

    /*margin:2em 1em;*/
    white-space:nowrap;
    overflow:hidden;

    border-right:.1em solid;
    animation:typing 1s steps(15,end),/* # of steps = # of chars */
    blink-caret .5s step-end infinite alternate;
}

/* 标题盒子 content*/
.titleBoxContent {
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* 分割线 */
.underline {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    margin-top: -30px;
    width: 70px;
    border-bottom: 4px solid #3bf3dd;
}

/* 向下箭头 */
#scrollDownIcon {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    margin-top: 50px;
    border-right: 3px solid rgba(255, 255, 255, .5);
    border-top: 3px solid rgba(255, 255, 255, .5);
    height: 20px;
    width: 20px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    cursor: pointer;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
}
#scrollDownIcon:hover {
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
}

#scrollDownIcon:active {
    border-right: 3px solid rgba(255, 255, 255, .35);
    border-top: 3px solid rgba(255, 255, 255, .35)
}

/* 区域标题 */
.regionTitle {
    color: #3c3c3c;
    margin-bottom: 50px;
    margin-top: 80px;
}

/* 关于 区域*/
.about {
    margin: 0 0 100px 0;
    text-align: center;
}

/*关于 头像备注*/
.notes {
    text-decoration: none;
    /*color: #646464;*/
    cursor: pointer;
    font-size: 12px;
    transition: all .25s;
    color: #3bf3dd;
}

/*关于 头像链接*/
.bilibiliLink{
    text-decoration: none;
    color: #5a5a5a;
}

/*关于 头像链接*/
.bilibiliLink:link{
    color: #5a5a5a;
}

/* 关于盒子 */
.aboutBoxs {
    margin: 0 auto;
    /*width: max-content;*/
}

/* 关于 图片 */
.aboutImg {
    /*float: left;*/
    display: inline-block;
}

/* 关于 我的简介 */
.aboutMe {
    /*float: left;*/
    display: inline-block;
    margin: 20px 10px 0 10px;
    text-align: left;
    width: auto;
    /*margin-top: 20px;*/
}

/* 关于 字体重设 */
.aboutMe h3 {
    margin: 5px;
    font-size: 16px;
    color: #5a5a5a;
}

/* 关于 字体重设 */
.aboutMe h2 {
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 20px;
}

/* 关于 字体重设 */
.aboutMe h1 {
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 30px;
    color: #0a0a0a;
}

#newProject {
    overflow: hidden;
    padding: 0 0 100px 0;
    /*margin: 100px 0 100px 0;*/
    text-align: center;
    background-color: #f0f2f5;
}

.newProjectBox {
    width: 360px;
    height: 300px;
    background-color: #ffffff;
    border: 0 solid #e8e8e8;
    /*border-radius: 10px;*/
    padding: 0 0 20px 0;
    position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.newProjectBox:hover {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .2);
}

h2.newProjectBoxHx, h3.newProjectBoxHx, h4.newProjectBoxHx {
    text-align: left;
    margin-left: 15px;
    color: #5a5a5a;
}

.newProjectBox > img {
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}



/* 响应式布局 */
@media screen and (max-width:830px){
    #navTitle{
        display: none;
    }
}
@media screen and (max-width:500px){
    #navBox{
        display: none;
    }
}